.container::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /*scale မယ်ဆိုရင် right 0 ထားမှ left to right အပြည့် 
            width ယူဖို့ browser ကနားလည်မယ်။ width 0 -> 100% နဲ့ရေးမယ်ဆို မလိုဘူး။*/
  transform: scaleX(0);
  transform-origin: left; /*transform စဖြစ်စေမဲ့ အမှတ်က center default မို့ left ကနေ စဖြစ်အောင် ဒါထည့်ရမယ်။*/
  height: 6px;
  background: red;
  pointer-events: none;
  animation: progess linear both;
  animation-timeline: scroll(); /*Scroll တိုင်း effect ဝင်ဖို့ ဒါကအရေးကြီးတယ်*/
  z-index: 2;
}
@keyframes progess {
  to {
    transform: scaleX(1);
  }
}